body {
    margin: auto 0;
    padding: auto 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAV */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display:flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

.main-nav p {
    font-size: 0.8em;
    display: flex;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;;
}

/* COVER */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.cover {
    width: 90%;
}

/* GRID */
.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img{
    width: 100%;
}

.box {
    background-color: #444;
    padding: 130px 120px 90px 120px;
    margin: 20px;
    border: 1px solid white;
}

.box p {
    display: flex;;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 40px 0px 0px 0px;
    text-align: center;
    font-size: 0.5em;
}

footer {
    text-align: center;
    font-size: 0.3em;
}

footer p {
    margin: 0;
    font-size: 0.7em;
    padding: 0.4%;
}

.zone {
    cursor:pointer;
    /*display:inline-block;*/
    color:#FFF;
    font-size:2em;
    border-radius:0px;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background-color: rgb(42, 42, 42);
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background-color: #111111;
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background-color: rgb(42, 42, 42);
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background-color: rgb(48, 48, 48);

    border:2px solid rgba(255, 255, 255, 0.448);
}
